# Environment Files
.idea/
.ipynb_checkpoints/
__pycache__/

# Text Data
*.dat
*.out
*.txt
*.json
*.h5
*.cat
*.log

# Compressed Files
*.zip
*.tar
*.gz
*.rar

# Images
*.jpg
*.png
*.tif

# numpy save files
*.npy

# other files
*.xlsx

# model checkpoints
notebooks/model_checkpoints/*

# data files
data/

# Exclude scripts written by Kenji
kenjis_scipts/

# allow images inside images folder (for README only)
!images/*

*.xcf