# Environment Files
.idea/
.ipynb_checkpoints/

# Text Data
*.dat
*.out
*.txt
*.json
*.h5
*.cat

# Compressed Files
*.zip
*.tar
*.gz
*.rar

# Images
*.jpg
*.png
*.tif

# numpy save files
*.npy

# other files
*.xlsx

# model checkpoints
notebooks/model_checkpoints/*

